html {
  box-sizing: border-box;
}

.nav ul {
  list-style-type: none;
  background-color: lightblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav li {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}

.nav a {
  text-decoration: none;
  color: orange;
  display: block;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.nav li:hover {
  background-color: #7bbdff;
  border-radius: 5px;
}

.nav a.active {
  background-color: #fff;
  color: #444;
}

.facts, .food {
  border-style: solid;
  border-radius: 20px;
  border-color: lightblue;
}

.food ul li {
  padding: 10px;
}

.facts ol li {
  padding: 10px;
}

a {
  transition: .35s background-color;
}

p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  color: orange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  justify-content: center;
}

.img-container {
  padding: .5vw;
  flex-flow: row wrap;
  display: flex;
}

.img-container div {
  flex: auto;
  width: 200px;
  height: 100%;
  margin: .75vw;
  box-shadow: 6.75px 6.75px 6.75px #888888;
  border-radius: 20px;
}

.img-container div img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

img {
  display: block;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: inset;
  max-width: 50%;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: flex;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

input, textarea {
  width:75%;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top: 3px;
  font-size:0.9em;
  color:#3a3a3a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

textarea {
  height: 213px;
}

input[type=submit] {
  padding: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input:focus, textarea:focus {
  border: 1px solid #97d6eb;
}

footer {
  display: flex;
  justify-content: center;
}
.footercontainer {
  display: flex;
}
.footer1 {
  margin: 20px 20px 0px 0px;
}
.footercontainer li {
  display: flex;
  flex-direction: row;
}

.footercontainer img:hover {
  background-color: #7bbdff;
  border-radius: 50%;
}

#submit {
  background-color: lightblue;
}

@media (min-width: 768px) {
  .nav ul {
    display: flex;
    flex-direction: row;
  }
  p {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
    flex-flow: column wrap;
  }
  .header-container h1 {
    order: 2;
  }
  .nav {
    order: 1;
  }
  .nav ul {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 350px) {
  @media screen and (max-height: 850px) {
  .header-container h1 {
    font-size: 18px;
    }
  }
}

@media screen and (max-width: 175px) {
  .header-container h1 {
    font-size: 16px;
  }
  .heading1 h2 {
    font-size: 14px;
  }
  .heading2 h2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 300px) {
  .footer1, .footer2 {
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  header div {
    margin: 0;
  }
  header {
    padding: 0;
  }
}
